<header>
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="{{ asset("assets/images/header-image.png") }}" height="400"/>
                <div class="caption center-align white-text">
                    <h2>Minecraft Server</h2>
                    <p class="text-lighten-3">Your own minecraft server starting from €0,75/mo</p>
                </div>
            </li>
            <li>
                <img src="{{ asset("assets/images/serverroom-header.png") }}" height="400"/>
                <div class="caption center-align white-text">
                    <h2>Virtual Private Server</h2>
                    <p class="text-lighten-3">All dreams begin here. Starting from €7,00/mo</p>
                </div>
            </li>
            <li>

                <img src="{{ asset("assets/images/hardware.png") }}" height="400"/>
                <div class="caption center-align white-text">
                    <h2>Hardware</h2>
                    <p class="text-lighten-3">Xeon CPU's, Premium Hardware, DDos Protected and Cheap</p>
                </div>
            </li>
        </ul>
    </div>
</header>