<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content grey darken-4 white-text">
    <div class="center">
        <li><a class="white-text" href="https://xeno.experityhosting.eu">Game Panel</a></li>
        <li><a class="white-text" href="https://cp.experityhosting.eu">Billing Panel</a></li>
    </div>
</ul>
<nav class="grey grey darken-4">
    <div class="nav-wrapper container grey darken-4">
        <a href="" class="brand-logo">Experityhosting</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/minecraft">Minecraft</a></li>
            <li><a href="/vps">Virtual Private Server<span class="new badge red darken-2"></span></a></li>
            <li><a class="dropdown-button" href="" data-activates="dropdown1">Panels<i class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="/minecraft">Minecraft</a></li>
            <li><a href="/vps">Virtual Private Server <span class="new badge red darken-2"></span></a></li>
            <li class="divider"></li>
            <li><a href="https://cp.experityhosting.eu">Billing Panel</a></li>
            <li><a href="https://xeno.experityhosting.eu">Game Panel</a></li>
        </ul>
    </div>
</nav>