{% extends 'base.html.twig' %}

{% block body %}
    <div id="container-1" class="container">
        <!-- Page Content goes here -->
        <div id="1" class="row">
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <h5 class="center">Why you should pick Experityhosting.</h5>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons">person</i>
                    <p><b>You are in control.</b><br>We never put limits on our packages. We give you full control of
                        the
                        services you use.</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons">attach_money</i>
                    <p><b>Best value.</b><br>We always sell our services as affordable as possible. We offer SSD's and
                        Xeon
                        processors at the best price we can.</p>
                </div>
            </div>
            <div class="col s4">
                <div class="center">
                    <i class="large material-icons">tv</i>
                    <p><b>Great Hardware.</b><br>We always use SSD and Xeon (2.6/3.2Ghz) processors to make your
                        service,
                        run super smooth.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
    </div>
    <div id="container-2" class="container">
        <div class="row">
            <div class="center col s12"><span class="flow-text">The core parts that make Experity.</span></div>
            <div class="center col s6">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header active"><i class="material-icons">filter_drama</i>Hardware.</div>
                        <div class="collapsible-body"><span>Our servers are built for game hosting, We assure you that your services will run with great performance.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">call</i>Support.</div>
                        <div class="collapsible-body"><span>We believe that support is a #1 priority. We have a team of professional team members that are always here to help as soon as possible.</span>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">autorenew</i>Upgradable &
                            Downgradable.
                        </div>
                        <div class="collapsible-body"><span>Upgrading should not be hard. We are offering upgradable services. If you need more, you can get more, need less? get less! Want to move on? Move on!</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="center">
                <div class="col s6">
                    <div id="container-3" class="container"><p>We offer Quality servers for a cheap price. Our servers
                            are
                            Fast and powerful, with our awesomely fast Xeon CPU's. They are also scalable, that means if
                            you
                            need more, you can get more! Need less, get less! If you ever encounter a issue, our staff
                            team
                            will
                            help you out! (In +/-24 Hours!) If you still don't get how awesome our servers are, just
                            join
                            our
                            discord, and ask some Customers!.</p></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}